<div class="container">
  <div class="row justify-content-center">
      <div class="col-md-12 col-lg-4">
          <!-- <a href="amirdeveloper2020.ir" class="navbar-brand mb-2">
            <p>amirdeveloper2020.ir</p>
          </a> -->
          <br>
          <div class="list-inline social-list-default background-color social-hover-2 mt-2">
            <div class="footer">
              <div class="footer-elements text-light text-center">

                <div class="footer-head">
                 <p  style=" text-align: center; margin-left: -2rem;">Amirhosseinhosseini</p>
                </div>

                <ul class="nav ">
                  <li class="nav-items" id="github"><a href="#" target="_blank">
                      <h2><img src="./assets/icons8-github-64.png"  alt="github" tooltip="follow in Github"><h4 class="text-center"></h4></h2>
                    </a></li>
                  <li class="nav-items" id="linkedin"><a href="#" target="_blank" >
                      <h2><img src="./assets/icons8-linkedin-64.png" alt=" Linkedin"  tooltip="follow in Linkedin"><h4 class="text-center"></h4></h2>
                    </a></li>
                  <li class="nav-items" id="instagram"><a href="#" target="_blank">
                      <h2><img src="./assets/icons8-instagram-48.png" alt=" instegram" tooltip="follow in instegram" ><h4 class="text-center">  </h4></h2>
                    </a></li>
                </ul>
              </div>
            </div>

          </div>
      </div>
