

<div class="row justify-content-center">

  <div class="col-md-6 offset-sm-3 ">
    <input  placeholder="searching..."  #SearchBox (input)="search(SearchBox.value)">
    <br><br>
    <div class="loading" *ngIf="loading">
      loading...
    </div>
    <table *ngFor="let f of findWeatherbySearchWithCityName$|async ">
      <thead>
        <tr>
          <th>Name City</th>
          <th>location</th>
          <th > woeid</th>

        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{f.title}}</td>
          <td>{{f.location_type}}</td>
          <td>{{f. woeid}}</td>
        </tr>
       </tbody>
    </table>

  </div>


</div>
